<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elbejaj.sharetm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_lauch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <!-- Main Activity -->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name=".LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name=".MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ajout Activity -->
        <activity android:name=".AjoutActivity">
            <intent-filter>
                <action android:name=".AJOUTACTIVITY" />
            </intent-filter>
        </activity>

        <!-- Affichage Tache  Activity -->
        <activity android:name=".AffichageTacheActivity">
            <intent-filter>
                <action android:name=".AFFICHAGETACHEACTIVITY" />
            </intent-filter>
        </activity>

        <!-- Affichage Tache  GRoupe Activity -->
        <activity android:name=".TacheGroupActivity">
            <intent-filter>
                <action android:name=".TACHEGROUPACTIVITY" />
            </intent-filter>
        </activity>

        <!-- Affichage TacheB  GRoupe Activity -->
        <activity android:name=".TacheGroupActivityB">
            <intent-filter>
                <action android:name=".TACHEGROUPACTIVITY" />
            </intent-filter>
        </activity>

        <!-- Affichage Tache  Activity -->
        <activity android:name=".UpdateTacheActivity">
        <intent-filter>
            <action android:name=".UPDATETACHEACTIVITY" />
        </intent-filter>
        </activity>

        <!-- Affichage groupee  Activity -->
        <activity android:name=".GroupesActivity">
            <intent-filter>
                <action android:name=".GROUPESACTIVITY" />
            </intent-filter>
        </activity>
        <activity android:name=".AjoutGrpActivity"/>
        <activity android:name=".AffichageGroupeActivity"/>
        <activity android:name=".UpdateGroupeActivity"/>

        <!-- Splash -->
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
